.center_div{
  margin: 100px auto;
  width:60%;
}

.details {
  text-align: center;

}

.details .form-inline{
  justify-content: flex-start;

}

.details .row {
  justify-content: space-evenly;
  margin-top: 20px; 
}

.details .primary-button {
  margin-top: 20px;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  -webkit-appearance:none;margin:0
}
input[type=number]{-moz-appearance:textfield}