.center_div{
  margin: 100px auto;
  width:60%;
}

.cardDetails {
  text-align: center;

}

.cardDetails .form-inline{
  justify-content: flex-start;

}

.cardDetails .row {
  justify-content: space-evenly;
  margin-top: 20px; 
}

.cardDetails .primary-button {
  margin-top: 20px;
}


/* pesky trick to get rid of unwanted drop-downs */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  -webkit-appearance:none;margin:0
}
input[type=number]{-moz-appearance:textfield}